<a href="https://colab.research.google.com/github/gknoetze36-source/sales---Analysis/blob/main/sales_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
sales_analysis.ipynb

NameError: name 'sales_analysis' is not defined

In [ ]:
import numpy as np #
import pandas as pd #

import os
for dirname, _, filenames in os.walk('/kaggle/input') :
  for filename in filenames :
    print (os.path.joi(dirname, filename))

In [ ]:
df = pd. read_csv("/kaggle/input/cafe-sales-dirty-data-for-cleaning-training/dirty_cafe_sales.csv")
df.info()

In [ ]:
df.head()

In [ ]:
df = df.replace("UNKNOWN , ERROR, np.nan")

In [ ]:
cols = ['quantity', 'price per unit', 'Total Spent']
df = df[df[df[cols].isnull().sum(axis=1) <= 1]]

In [ ]:
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')

In [ ]:
def infer_null(rows, formula):
    '''Applies a formula to null values to infer the result'''
    return np.where(
        rows.isnull(),
        formula,
        rows
    )

# Quantity = Total Spent / Price Per Unit
df['Quantity'] = infer_null(
    rows=df['Quantity'],
    formula=df['Total Spent'] / df['Price Per Unit']
).astype(int)

# Price Per Unit = Total Spent / Quantity
df['Price Per Unit'] = infer_null(
    rows=df['Price Per Unit'],
    formula=df['Total Spent'] / df['Quantity']
).astype(float)

# Total Spent = Quantity * Price Per Unit
df['Total Spent'] = infer_null(
    rows=df['Total Spent'],
    formula=df['Quantity'] * df['Price Per Unit']
).astype(float)

In [ ]:
df = df.dropna(subset=['Transaction Date'])
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

In [ ]:
df = df.replace(np.nan, 'Unknown')

In [ ]:
df['Item'] = df['Item'].astype('category')
df['Payment Method'] = df['Payment Method'].astype('category')
df['Location'] = df['Location'].astype('category')

In [ ]:
assert sum(df.isnull().sum()) == 0

In [3]:
df.info()

NameError: name 'df' is not defined

In [ ]:
df.head()